/* === Import Google Font === */
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

/* --- Global Style --- */
:root {
  font-family: "Anta", sans-serif;
  color: #f8fafc;
  --bg-color: #1c1f23;
  --white: #f8fafc;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --button-bg: #1c1f23;
  --button-hover-bg: #22262c;
  --button-active-bg: #2b3036;
}

/* --- General  --- */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-screen {
  width: 1150px;
  height: 650px;
  background: var(--bg-color);
  border: 5px solid var(--white);
  border-radius: 20px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.game-title {
  color: var(--white);
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/* --- Canvas --- */
.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.toolbar-container {
  width: 98.5%;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* --- Tile Palette --- */
.tile-palette-container {
  position: absolute;
  font-size: 12px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--toolbar-bg);

  padding: 10px;
  border-radius: 8px;
}

.toolbox {
  gap: 10px;
  background: var(--button-active-bg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
}

.eraser {
  background: var(--button-active-bg);
  border-radius: 8px;
  font-size: 12px;
  padding: 7px;
  text-align: center;
}

.icon {
  border-radius: 8px;
}

/* --- Buttons --- */
button {
  background: var(--button-bg);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color);
  font-family: "Press Start 2P", sans-serif;
  font-size: 12px;
  border-radius: 8px;
}

button:hover {
  background: var(--button-hover-bg);
}

button.active {
  background: var(--button-active-bg);
}

.layer-buttons {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.layer-buttons button {
  padding: 5px 5px;
  font-size: 10px;
}
